@page "/departments"

@inject UserDepartmentServiceWEB userDepartmentService
@inject AuthenticationStateProvider AuthStateProvider

@rendermode @(new InteractiveServerRenderMode(prerender: false))

<AuthorizeView>
    <Authorized>
        <div class="container">
            <div class="row mt-3 mb-3">
                <div class="col">
                    <h3 class="m-0">Подразделения</h3>
                    <p class="m-0">Таблица добавленных подразделений (отделов).</p>
                </div>
                <div class="col">
                </div>
                <div class="col">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addDepartment"><b>+ Добавить</b></button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    @if (UserDepartments.Count > 0)
                    {
                        <table class="table table-hover text-center">
                            <thead>
                                <tr>
                                    @foreach (var header in TableHeaders)
                                    {
                                        <th scope="col">@header</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (UserDepartment department in UserDepartments)
                                {
                                    <tr>
                                        <td>@department.Title</td>
                                        <td>@department.ShortTitle</td>
                                        <td><button class="btn btn-secondary btn-sm mx-1">Перейти</button></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="text-center">
                            <div class="spinner-border text-success" role="status">
                                <span class="visually-hidden">Загрузка...</span>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="addDepartment" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addDepartmentTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addDepartmentTitle">Новое подразделение</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <EditForm Model="DepartmentDTO" FormName="AddDepartment" Context="AddDepartment" OnValidSubmit="AddDepartment">
                            <div class="modal-body">
                                <DataAnnotationsValidator />

                                <!-- Alert -->
                                <div class="alert @ClassesAlert" role="alert">
                                    @ResponseMessage
                                </div>
                                <!-- End alert -->

                                <div class="form-group">
                                    <label for="title">Полное наименование</label>
                                    <InputText id="title" class="form-control" @bind-Value="DepartmentDTO.Title" />
                                    <ValidationMessage For="@(() => DepartmentDTO.Title)" />
                                </div>

                                <div class="form-group">
                                    <label for="shorttitle">Краткое наименование</label>
                                    <InputText id="shorttitle" class="form-control" @bind-Value="DepartmentDTO.ShortTitle" />
                                    <ValidationMessage For="@(() => DepartmentDTO.ShortTitle)" />
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Отмена</button>
                                <button type="submit" class="btn btn-success" id="submit">Добавить</button>
                            </div>
                        </EditForm>
                    </div>
                </div>
            </div>
            <!-- End modal -->
        </div>

    </Authorized>
    <NotAuthorized>
        <p>Не авторизован.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    private List<UserDepartment> UserDepartments = new();
    private UserDepartmentDTO DepartmentDTO = new();
    private string ResponseMessage = string.Empty;
    private string ClassesAlert = string.Empty;
    private List<string> TableHeaders = ["Полное наименование", "Краткое наименование", ""];

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var authState = await ((CustomAuthStateProvider)AuthStateProvider).GetAuthenticationStateAsync();
            if (authState.User.Identity.IsAuthenticated)
            {
                UserDepartments = await userDepartmentService.GetAllAsync();
            }
        }
        catch (Exception ex) { }
    }

    private async Task AddDepartment()
    {
        var response = await userDepartmentService.AddAsync(DepartmentDTO);
        if (!response.Flag)
        {
            ResponseMessage = response.Message;
            ClassesAlert = "alert-warning";
        }
        else
        {
            ResponseMessage = response.Message;
            ClassesAlert = "alert-success";
            DepartmentDTO = new();
            UserDepartments = await userDepartmentService.GetAllAsync();
        }
    }
}
