@page "/departments"

@inject UserDepartmentServiceWEB userDepartmentService
@inject AuthenticationStateProvider AuthStateProvider

@rendermode @(new InteractiveServerRenderMode(prerender: false))

<AuthorizeView>
    <Authorized>
        <div class="container">
            <div class="row mb-2 text-center">
                <div class="col"><h3>Подразделения</h3></div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addDepartment">+</button>
                </div>
            </div>
            <div class="row" style="overflow: scroll;">
                <QuickGrid Items="UserDepartments.AsQueryable()">
                    <PropertyColumn Property="@(p => p.Title)" Title="Полное наименование" Sortable="true" />
                    <PropertyColumn Property="@(p => p.ShortTitle)" Title="Краткое наименование" Sortable="true" />
                </QuickGrid>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="addDepartment" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addDepartmentTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addDepartmentTitle">Новое подразделение</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <EditForm Model="DepartmentDTO" FormName="AddDepartment" Context="AddDepartment" OnValidSubmit="AddDepartment">
                            <div class="modal-body">
                                <DataAnnotationsValidator />

                                <!-- Alert -->
                                <div class="alert @ClassesAlert" role="alert">
                                    @ResponseMessage
                                </div>
                                <!-- End alert -->

                                <div class="form-group">
                                    <label for="title">Полное наименование</label>
                                    <InputText id="title" class="form-control" @bind-Value="DepartmentDTO.Title" />
                                    <ValidationMessage For="@(() => DepartmentDTO.Title)" />
                                </div>

                                <div class="form-group">
                                    <label for="shorttitle">Краткое наименование</label>
                                    <InputText id="shorttitle" class="form-control" @bind-Value="DepartmentDTO.ShortTitle" />
                                    <ValidationMessage For="@(() => DepartmentDTO.ShortTitle)" />
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Отмена</button>
                                <button type="submit" class="btn btn-success" id="submit">Добавить</button>
                            </div>
                        </EditForm>
                    </div>
                </div>
            </div>
            <!-- End modal -->
        </div>

    </Authorized>
    <NotAuthorized>
        <p>Не авторизован.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    private List<UserDepartment> UserDepartments = new();
    private UserDepartmentDTO DepartmentDTO = new();
    private string ResponseMessage = string.Empty;
    private string ClassesAlert = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await ((CustomAuthStateProvider)AuthStateProvider).GetAuthenticationStateAsync();
            UserDepartments = await userDepartmentService.GetAllAsync();
        }
        catch (Exception ex) { }
    }

    private async Task AddDepartment()
    {
        var response = await userDepartmentService.AddAsync(DepartmentDTO);
        if (!response.Flag)
        {
            ResponseMessage = response.Message;
            ClassesAlert = "alert-warning";
        }
        else
        {
            ResponseMessage = response.Message;
            ClassesAlert = "alert-success";
            DepartmentDTO = new();
            UserDepartments = await userDepartmentService.GetAllAsync();
        }
    }
}
