@page "/users"

@inject UserDepartmentServiceWEB userDepartment
@inject UserServiceWEB userService
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager navigationManager

@rendermode @(new InteractiveServerRenderMode(prerender: false))

<title>Сотрудники</title>

<div class="container">
    <div class="card mt-3 mb-3">
        <div class="card-header">
            <div class="row">
                <div class="col-sm">
                    <h3 class="m-0">Сотрудники</h3>
                    <p class="m-0">Таблица добавленных сотрудников.</p>
                </div>
                <div class="col-sm d-flex align-items-center justify-content-end">
                    <AuthorizeView Roles="admin">
                        <Authorized>
                            <div class="row">
                                <div class="p-0 m-1 col-auto">
                                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addUser"><b>+ Добавить</b></button>
                                </div>
                                <div class="p-0 m-1 col-auto">
                                    <button type="button" class="btn btn-primary" @onclick="SyncUsers"><b>@TitleSyncButton</b></button>
                                </div>
                            </div>
                        </Authorized>
                    </AuthorizeView>
                </div>
            </div>
        </div>
        <div class="card-body pb-2 px-0 mb-0" style="overflow: scroll;">
            <TableView UsersList="UsersList" TableHeader="TableHeaders" />
        </div>
        <div class="card-footer">

        </div>
    </div>
</div>

<!-- Modal Add user -->
<div class="modal fade" id="addUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addUserTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addUserTitle">Новый пользователь</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <EditForm Model="RegisterDTO" FormName="AddUser" Context="AddUser" OnValidSubmit="AddUser">
                            <div class="modal-body">
                                <DataAnnotationsValidator />
                                @* <ValidationSummary /> *@

                                <!-- Alert -->
                                <div class="alert @ClassesAlert" role="alert">
                                    @ResponseMessage
                                </div>
                                <!-- End alert -->

                                <div class="form-group">
                                    <label for="userrole">Роль</label>
                                    <InputSelect id="userrole" class="form-control" @bind-Value="RegisterDTO.UserRoleId">
                                        <option value="">Выберите роль пользователя</option>
                                        @foreach (UserRole role in UserRoles)
                                        {
                                            <option value="@role.Id">@role.PublicTitle</option>
                                        }
                                    </InputSelect>
                                    <ValidationMessage For="@(() => RegisterDTO.UserRoleId)" />
                                </div>

                                <div class="form-group">
                                    <label for="userdepartment">Подразделение</label>
                                    <InputSelect id="userdepartment" class="form-control" @bind-Value="RegisterDTO.UserDepartmentId">
                                        <option value="">Выберите подразделение пользователя</option>
                                        @foreach (UserDepartment department in UserDepartments)
                                        {
                                            <option value="@department.Id">@department.Title</option>
                                        }
                                    </InputSelect>
                                    <ValidationMessage For="@(() => RegisterDTO.UserDepartmentId)" />
                                </div>

                                <div class="form-group">
                                    <label for="lastname">Фамилия</label>
                                    <InputText id="lastname" class="form-control" @bind-Value="RegisterDTO.LastName" />
                                    <ValidationMessage For="@(() => RegisterDTO.LastName)" />
                                </div>

                                <div class="form-group">
                                    <label for="description">Имя</label>
                                    <InputText id="description" class="form-control" @bind-Value="RegisterDTO.FirstName" />
                                    <ValidationMessage For="@(() => RegisterDTO.FirstName)" />
                                </div>

                                <div class="form-group">
                                    <label for="patronymic">Отчество</label>
                                    <InputText id="patronymic" class="form-control" @bind-Value="RegisterDTO.Patronymic" />
                                </div>

                                <div class="form-group">
                                    <label for="username" class="form-label">Логин</label>
                                    <InputText id="username" class="form-control" @bind-Value="RegisterDTO.Username" />
                                    <ValidationMessage For="@(() => RegisterDTO.Username)" />
                                </div>

                                <div class="form-group">
                                    <label for="email" class="form-label">E-mail</label>
                                    <InputText id="email" class="form-control" @bind-Value="RegisterDTO.Email" />
                                    <ValidationMessage For="@(() => RegisterDTO.Email)" />
                                </div>

                                <div class="form-group">
                                    <label for="password" class="form-label">Пароль</label>
                                    <InputText id="password" type="password" class="form-control" @bind-Value="RegisterDTO.Password" />
                                    <ValidationMessage For="@(() => RegisterDTO.Password)" />
                                </div>

                                <div class="form-group">
                                    <label for="confirmpassword" class="form-label">Подтверждение пароля</label>
                                    <InputText id="confirmpassword" type="password" class="form-control" @bind-Value="RegisterDTO.ConfirmPassword" />
                                    <ValidationMessage For="@(() => RegisterDTO.ConfirmPassword)" />
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Отмена</button>
                                <button type="submit" class="btn btn-success" id="submit">Добавить</button>
                            </div>
                        </EditForm>
                    </div>
                </div>
            </div>
<!-- End modal -->


@code {
    private List<UserView> UsersList = new();
    private List<UserRole> UserRoles = new();
    private List<UserDepartment> UserDepartments = new();
    private RegisterDTO RegisterDTO = new();
    private string TitleSyncButton = "Sync";
    private string ResponseMessage = string.Empty;
    private string ClassesAlert = string.Empty;
    private List<string> TableHeaders = ["Фамилия", "Имя", ""];

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var authState = await ((CustomAuthStateProvider)AuthStateProvider).GetAuthenticationStateAsync();
            if (authState.User.Identity != null)
            {
                UsersList = await userService.GetAllAsync();
                UserRoles = await userService.GetAllUserRolesAsync();
                UserDepartments = await userDepartment.GetAllAsync();
            }
            else
            {
                navigationManager.NavigateTo("/login");
            }
        }
        catch(Exception ex){ }
    }

    private async Task AddUser()
    {
        var response = await userService.RegisterAsync(RegisterDTO);
        if (!response.Flag)
        {
            ResponseMessage = response.Message;
            ClassesAlert = "alert-warning";
        }
        else
        {
            ResponseMessage = response.Message;
            ClassesAlert = "alert-success";
            RegisterDTO = new();
            UsersList = await userService.GetAllAsync();
        }
    }
    private async Task SyncUsers()
    {
        try
        {
            TitleSyncButton = "Идёт синхронизация ...";
            await userService.SyncUsersAsync();
            UsersList = await userService.GetAllAsync();
            TitleSyncButton = "Sync";
        }
        catch{}
    }
}
