@page "/users"

@inject UserDepartmentServiceWEB userDepartment
@inject AuthenticationStateProvider AuthStateProvider
@inject UserServiceWEB userService
@inject AuthenticationStateProvider AuthStateProvider

@rendermode @(new InteractiveServerRenderMode(prerender: false))

<AuthorizeView>
    <Authorized>
        <div class="container">
            <div class="row mb-2 text-center">
                <div class="col"><h3>Пользователи</h3></div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addUser">+</button>
                </div>
            </div>
            <div class="row" style="overflow: scroll;">
                <QuickGrid Items="UsersList.AsQueryable()">
                    <PropertyColumn Property="@(p => p.LastName)" Title="Фамилия" Sortable="true" />
                    <PropertyColumn Property="@(p => p.FirstName)" Title="Имя" Sortable="true" />
                    <PropertyColumn Property="@(p => p.Patronymic)" Title="Отчество" Sortable="true" />
                </QuickGrid>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="addUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addUserTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addUserTitle">Новый пользователь</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <EditForm Model="RegisterDTO" FormName="AddUser" Context="AddUser" OnValidSubmit="AddUser">
                            <div class="modal-body">
                                <DataAnnotationsValidator />
                                @* <ValidationSummary /> *@

                                <!-- Alert -->
                                <div class="alert @ClassesAlert" role="alert">
                                    @ResponseMessage
                                </div>
                                <!-- End alert -->

                                <div class="form-group">
                                    <label for="userrole">Роль</label>
                                    <InputSelect id="userrole" class="form-control" @bind-Value="RegisterDTO.UserRoleId">
                                        <option value="">Выберите роль пользователя</option>
                                        @foreach (UserRole role in UserRoles)
                                        {
                                            <option value="@role.Id">@role.PublicTitle</option>
                                        }
                                    </InputSelect>
                                    <ValidationMessage For="@(() => RegisterDTO.UserRoleId)" />
                                </div>

                                <div class="form-group">
                                    <label for="userdepartment">Подразделение</label>
                                    <InputSelect id="userdepartment" class="form-control" @bind-Value="RegisterDTO.UserDepartmentId">
                                        <option value="">Выберите подразделение пользователя</option>
                                        @foreach (UserDepartment department in UserDepartments)
                                        {
                                            <option value="@department.Id">@department.Title</option>
                                        }
                                    </InputSelect>
                                    <ValidationMessage For="@(() => RegisterDTO.UserDepartmentId)" />
                                </div>

                                <div class="form-group">
                                    <label for="lastname">Фамилия</label>
                                    <InputText id="lastname" class="form-control" @bind-Value="RegisterDTO.LastName" />
                                    <ValidationMessage For="@(() => RegisterDTO.LastName)" />
                                </div>

                                <div class="form-group">
                                    <label for="description">Имя</label>
                                    <InputText id="description" class="form-control" @bind-Value="RegisterDTO.FirstName" />
                                </div>

                                <div class="form-group">
                                    <label for="patronymic">Отчество</label>
                                    <InputText id="patronymic" class="form-control" @bind-Value="RegisterDTO.Patronymic" />
                                </div>

                                <div class="form-group">
                                    <label for="username" class="form-label">Логин</label>
                                    <InputText id="username" class="form-control" @bind-Value="RegisterDTO.Username" />
                                    <ValidationMessage For="@(() => RegisterDTO.Username)" />
                                </div>

                                <div class="form-group">
                                    <label for="email" class="form-label">E-mail</label>
                                    <InputText id="email" class="form-control" @bind-Value="RegisterDTO.Email" />
                                    <ValidationMessage For="@(() => RegisterDTO.Email)" />
                                </div>

                                <div class="form-group">
                                    <label for="password" class="form-label">Пароль</label>
                                    <InputText id="password" type="password" class="form-control" @bind-Value="RegisterDTO.Password" />
                                    <ValidationMessage For="@(() => RegisterDTO.Password)" />
                                </div>

                                <div class="form-group">
                                    <label for="confirmpassword" class="form-label">Подтверждение пароля</label>
                                    <InputText id="confirmpassword" type="password" class="form-control" @bind-Value="RegisterDTO.ConfirmPassword" />
                                    <ValidationMessage For="@(() => RegisterDTO.ConfirmPassword)" />
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Отмена</button>
                                <button type="submit" class="btn btn-success" id="submit">Добавить</button>
                            </div>
                        </EditForm>
                    </div>
                </div>
            </div>
            <!-- End modal -->
        </div>
        
    </Authorized>
    <NotAuthorized>
        <p>Не авторизован.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    private List<User> UsersList = new();
    private List<UserRole> UserRoles = new();
    private List<UserDepartment> UserDepartments = new();
    private RegisterDTO RegisterDTO = new();
    private string ResponseMessage = string.Empty;
    private string ClassesAlert = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await ((CustomAuthStateProvider)AuthStateProvider).GetAuthenticationStateAsync();
            UsersList = await userService.GetAllAsync();
            UserRoles = await userService.GetAllUserRolesAsync();
            UserDepartments = await userDepartment.GetAllAsync();
        }
        catch(Exception ex){ }
    }

    private async Task AddUser()
    {
        var response = await userService.RegisterAsync(RegisterDTO);
        if (!response.Flag)
        {
            ResponseMessage = response.Message;
            ClassesAlert = "alert-warning";
        }
        else
        {
            ResponseMessage = response.Message;
            ClassesAlert = "alert-success";
            RegisterDTO = new();
            UsersList = await userService.GetAllAsync();
        }
    }
}
