@page "/hardware/categories"

@inject AuthenticationStateProvider AuthStateProvider
@inject CategoryHardwareServiceWEB CategoryHardwareService

<title>Категории оборудования</title>

<div class="container">
    <div class="card mt-3 mb-3">
        <div class="card-header">
            <div class="row">
                <div class="col-sm">
                    <h3 class="m-0">Категории</h3>
                    <p class="m-0">Таблица категорий оборудования.</p>
                </div>
                <div class="col-sm d-flex align-items-center justify-content-end">
                    <AuthorizeView Roles="admin">
                        <Authorized>
                            <div class="row">
                                <div class="p-0 m-1 col">
                                    <InputText class="form-control" title="Поле для поиска" @bind-value="SearchString" @oninput="SearchEvent" placeholder="Введите для поиска..." />
                                </div>
                                <div class="p-0 m-1 col-auto">
                                    <button type="button" class="btn btn-success" title="Добавить новую категорию" data-bs-toggle="modal" @onclick="AddCategoryEvent" data-bs-target="#addCategory"><b>+ Добавить</b></button>
                                </div>
                            </div>
                        </Authorized>
                    </AuthorizeView>
                </div>
            </div>
        </div>
        <div class="card-body pb-2 px-0 mb-0" style="overflow: scroll;">
            <table class="table table-hover text-center">
                <thead>
                    <tr>
                        @* <th><input class="form-check-input" type="checkbox" /></th> *@
                        @foreach (var header in TableHeaders)
                        {
                            <th scope="col">@header</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @if (CategoriesHardware?.Count > 0)
                    {
                        @foreach (CategoryHardware category in CategoriesHardware)
                        {
                            <tr>
                                <td>@category.Title</td>
                                <td>@category.ShortTitle</td>
                                <td><button class="btn btn-secondary btn-sm mx-1" title="Редактировать категорию" @onclick="() => EditCategoryEvent(category)" data-bs-toggle="modal" data-bs-target="#addCategory">Редактировать</button></td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="10">
                                <div class="text-center">
                                    <div class="spinner-border text-success" role="status">
                                        <span class="visually-hidden">Загрузка...</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer">
        </div>
    </div>
</div>      

<!-- Modal -->
<div class="modal fade" id="addCategory" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addCategoryTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addCategoryTitle">@ModalTitleText</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" @onclick="CloseAddModalEvent" aria-label="Close"></button>
                        </div>
                        <EditForm Model="categoryHardwareDTO" FormName="AddCategory" Context="AddCategory" OnValidSubmit="AddCategory">
                            <div class="modal-body">
                                <DataAnnotationsValidator />

                                <!-- Alert -->
                                <div class="alert @ClassesAlert" role="alert">
                                    @ResponseMessage
                                </div>
                                <!-- End alert -->

                                <div class="form-group">
                                    <label for="title">Полное наименование</label>
                                    <InputText id="title" class="form-control" @bind-Value="categoryHardwareDTO.Title" />
                                    <ValidationMessage For="@(() => categoryHardwareDTO.Title)" />
                                </div>

                                <div class="form-group">
                                    <label for="shorttitle">Краткое наименование</label>
                                    <InputText id="shorttitle" class="form-control" @bind-Value="categoryHardwareDTO.ShortTitle" />
                                    <ValidationMessage For="@(() => categoryHardwareDTO.ShortTitle)" />
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" title="Отменить действие" @onclick="CloseAddModalEvent" data-bs-dismiss="modal">Отмена</button>
                                <button type="submit" class="btn btn-success" title="@SubmitBtnText категорию" id="submit">@SubmitBtnText</button>
                            </div>
                        </EditForm>
                    </div>
                </div>
            </div>
<!-- End modal -->

@code {
    private CategoryHardwareDTO categoryHardwareDTO = new();
    private CategoryHardware updateCategoryHardware = new();
    private List<CategoryHardware> CategoriesHardware = new();
    private List<CategoryHardware> FilteredCategoriesHardware = new();
    private string ResponseMessage = string.Empty;
    private string SubmitBtnText = string.Empty;
    private string ModalTitleText = string.Empty;
    private string ClassesAlert = "d-none";
    private string SearchString { get; set; } = string.Empty;
    private List<string> TableHeaders = ["Полное наименование", "Краткое наименование", ""];

    protected override async Task OnInitializedAsync()
    {
        try
        {
            CategoriesHardware = await CategoryHardwareService.GetAllAsync();
            FilteredCategoriesHardware = CategoriesHardware;
        }
        catch (Exception ex) { }
    }

    private async Task AddCategory()
    {
        var response = new CustomGeneralResponses();
        if (updateCategoryHardware.Id != Guid.Empty)
        {
            updateCategoryHardware.Title = categoryHardwareDTO.Title;
            updateCategoryHardware.ShortTitle = categoryHardwareDTO.ShortTitle;
            response = await CategoryHardwareService.UpdateAsync(updateCategoryHardware);
        }
        else
        {
            response = await CategoryHardwareService.AddAsync(categoryHardwareDTO);
        }

        if (!response.Flag)
        {
            ResponseMessage = response.Message;
            ClassesAlert = "alert-warning";
        }
        else
        {
            ResponseMessage = response.Message;
            ClassesAlert = "alert-success";
            categoryHardwareDTO = new();
            CategoriesHardware = await CategoryHardwareService.GetAllAsync();
            FilteredCategoriesHardware = CategoriesHardware;
        }
    }

    private async Task SearchEvent(ChangeEventArgs args)
    {
        SearchString = args.Value.ToString();
        if (string.IsNullOrWhiteSpace(SearchString))
        {
            FilteredCategoriesHardware = CategoriesHardware;
        }
        else
        {
            FilteredCategoriesHardware = CategoriesHardware.Where(u => u.Title.Contains(SearchString, StringComparison.OrdinalIgnoreCase) ||
                                                     u.ShortTitle.Contains(SearchString, StringComparison.OrdinalIgnoreCase)).ToList();
        }
    }

    private async Task EditCategoryEvent(CategoryHardware category)
    {
        if(category != null)
            updateCategoryHardware = category;
        categoryHardwareDTO.Title = updateCategoryHardware.Title;
        categoryHardwareDTO.ShortTitle = updateCategoryHardware.ShortTitle;
        SubmitBtnText = "Обновить";
        ModalTitleText = "Обновление категории";
    }

    private async Task AddCategoryEvent(MouseEventArgs args)
    {
        SubmitBtnText = "Добавить";
        ModalTitleText = "Добавление новой категории";
        categoryHardwareDTO = new();
        updateCategoryHardware = new();
    }

    private async Task CloseAddModalEvent(MouseEventArgs args)
    {
        ClassesAlert = "d-none";
        categoryHardwareDTO = new();
        updateCategoryHardware = new();
    }
}
