@page "/warehouses/users"

@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager navigationManager
@inject UserWarehouseServiceWEB userWarehouseService
@inject UserServiceWEB userService
@inject UserDepartmentServiceWEB userDepartmentService

<title>Склады пользователей</title>

<div class="container">
    <div class="card mt-3 mb-3">
        <div class="card-header">
            <div class="row">
                <div class="col-sm">
                    <h3 class="m-0">Склады пользователей</h3>
                    <p class="m-0">Таблица личных складов пользователей.</p>
                </div>
                <div class="col-sm d-flex align-items-center justify-content-end">
                    <AuthorizeView Roles="admin">
                        <Authorized>
                            <div class="row">
                                <div class="p-0 m-1 col-auto">
                                    <button type="button" title="Добавить новый склад для пользователя" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addUserWarehouse"><b>+ Добавить</b></button>
                                </div>
                            </div>
                        </Authorized>
                    </AuthorizeView>
                </div>
            </div>
        </div>
        <div class="card-body pb-2 px-0 mb-0" style="overflow: scroll;">
            <TableView UserWarehouses="UserWarehouses" TableHeader="TableHeaders" />
        </div>
        <div class="card-footer">
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addUserWarehouse" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addUserWarehouse" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addUserWarehouseTitle">Новый склад для пользователя</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <EditForm Model="userWarehouseDTO" FormName="AddUserWarehouse" Context="AddUserWarehouse" OnValidSubmit="AddUserWarehouse">
                <div class="modal-body">
                    <DataAnnotationsValidator />

                    <!-- Alert -->
                    <div class="alert @ClassesAlert" role="alert">
                        @ResponseMessage
                    </div>
                    <!-- End alert -->

                    <div class="form-group">
                        <label for="userdepartment">Пользователь</label>
                        <InputSelect title="Список активных пользователей" id="userdepartment" class="form-control" @oninput="SelectedUser" @bind-Value="userWarehouseDTO.UserId">
                            <option value="x">Выберите пользователя</option>
                            @foreach (UserView user in UsersList)
                            {
                                <option value="@user.Id">@user.LastName @user.FirstName</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="@(() => userWarehouseDTO.UserId)" />
                    </div>

                    <div class="form-group">
                        <label for="title">Текущий отдел пользователя</label>
                        <InputText title="Отдел пользователя" id="title" class="form-control" @bind-Value="userDepartment.Title" disabled readonly />
                    </div>

                    <div class="form-group">
                        <label for="title">Наименование склада</label>
                        <InputText title="Наименование нового склада для пользователя" id="title" class="form-control" @bind-Value="userWarehouseDTO.Title" />
                        <ValidationMessage For="@(() => userWarehouseDTO.Title)" />
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" title="Отменить добавление склада для пользователя" class="btn btn-danger" data-bs-dismiss="modal">Отмена</button>
                    <button type="submit" title="Добавить новый склад для пользователя" class="btn btn-success" id="submit">Добавить</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>
<!-- End modal -->

@code{
    private UserWarehouseDTO userWarehouseDTO = new();
    private UserDepartment userDepartment = new();
    private UserView user = new();
    private List<UserWarehouse> UserWarehouses = new();
    private List<UserView> UsersList = new();
    private string ResponseMessage = string.Empty;
    private string ClassesAlert = string.Empty;
    private List<string> TableHeaders = ["Сотрудник", "Наименование", ""];

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await ((CustomAuthStateProvider)AuthStateProvider).GetAuthenticationStateAsync();
            UserWarehouses = await userWarehouseService.GetAllAsync();
            UsersList = await userService.GetAllAsync();
        }
        catch (Exception ex) { }
    }
    private async Task AddUserWarehouse()
    {
        try
        {
            var response = await userWarehouseService.AddAsync(userWarehouseDTO);
            if (!response.Flag)
            {
                ResponseMessage = response.Message;
                ClassesAlert = "alert-warning";
            }
            else
            {
                ResponseMessage = response.Message;
                ClassesAlert = "alert-success";
                userWarehouseDTO = new();
                userDepartment = new();
                UserWarehouses = await userWarehouseService.GetAllAsync();
            }
        }
        catch (Exception ex) { }
    }
    private async Task SelectedUser(ChangeEventArgs args)
    {
        var userId = args.Value.ToString();
        Guid.TryParse(userId, out Guid id);
        user = await userService.GetByIdAsync(id);
        userDepartment = await userDepartmentService.GetByIdAsync(user.UserDepartmentId);
    }
}