@page "/main-warehouses"

@inject AuthenticationStateProvider AuthStateProvider
@inject MainWarehouseServiceWEB MainWarehouseService
@inject UserDepartmentServiceWEB userDepartment
@inject NavigationManager navigationManager

<title>Основные склады</title>

<div class="container">
    <div class="card mt-3 mb-3">
        <div class="card-header">
            <div class="row">
                <div class="col-sm">
                    <h3 class="m-0">Основные склады отделов</h3>
                    <p class="m-0">Таблица складов каждого отдела.</p>
                </div>
                <div class="col-sm d-flex align-items-center justify-content-end">
                    <AuthorizeView Roles="admin">
                        <Authorized>
                            <div class="row">
                                <div class="p-0 m-1 col-auto">
                                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addMainwarehouse"><b>+ Добавить</b></button>
                                </div>
                            </div>
                        </Authorized>
                    </AuthorizeView>
                </div>
            </div>
        </div>
        <div class="card-body pb-2 px-0 mb-0" style="overflow: scroll;">
            <TableView MainWarehouses="MainWarehouses" TableHeader="TableHeaders" />
        </div>
        <div class="card-footer">

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addMainwarehouse" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addMainwarehouseTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addMainwarehouseTitle">Новый склад для отдела</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <EditForm Model="mainWarehouseDTO" FormName="AddMainwarehouse" Context="AddMainwarehouse" OnValidSubmit="AddMainwarehouse">
                    <div class="modal-body">
                        <DataAnnotationsValidator />

                        <!-- Alert -->
                        <div class="alert @ClassesAlert" role="alert">
                            @ResponseMessage
                        </div>
                        <!-- End alert -->

                        <div class="form-group">
                            <label for="userdepartment">Отдел</label>
                            <InputSelect id="userdepartment" class="form-control" @bind-Value="mainWarehouseDTO.UserDepartmentId">
                                <option value="x">Выберите нужный отдел</option>
                                @foreach (UserDepartment department in UserDepartments)
                                {
                                    <option value="@department.Id">@department.Title</option>
                                }
                            </InputSelect>
                            <ValidationMessage For="@(() => mainWarehouseDTO.UserDepartmentId)" />
                        </div>

                        <div class="form-group">
                            <label for="title">Наименование</label>
                            <InputText id="title" class="form-control" @bind-Value="mainWarehouseDTO.Title" />
                            <ValidationMessage For="@(() => mainWarehouseDTO.Title)" />
                        </div>

                        <div class="form-group">
                            <label for="shorttitle">Описание</label>
                            <InputText id="shorttitle" class="form-control" @bind-Value="mainWarehouseDTO.Description" />
                            <ValidationMessage For="@(() => mainWarehouseDTO.Description)" />
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-success" id="submit">Добавить</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
<!-- End modal -->

@code {
    private MainWarehouseDTO mainWarehouseDTO = new();
    private List<MainWarehouse> MainWarehouses = new();
    private List<UserDepartment> UserDepartments = new();
    private string ResponseMessage = string.Empty;
    private string ClassesAlert = string.Empty;
    private List<string> TableHeaders = ["Наименование", "Подразделение", "Описание", ""];

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await ((CustomAuthStateProvider)AuthStateProvider).GetAuthenticationStateAsync();
            MainWarehouses = await MainWarehouseService.GetAllAsync();
            UserDepartments = await userDepartment.GetAllAsync();
        }
        catch (Exception ex) { }
    }

    private async Task AddMainwarehouse()
    {
        var response = await MainWarehouseService.AddAsync(mainWarehouseDTO);
        if (!response.Flag)
        {
            ResponseMessage = response.Message;
            ClassesAlert = "alert-warning";
        }
        else
        {
            ResponseMessage = response.Message;
            ClassesAlert = "alert-success";
            mainWarehouseDTO = new();
            MainWarehouses = await MainWarehouseService.GetAllAsync();
        }
    }

    private void GoToMainWarehouse(Guid id)
    {
        navigationManager.NavigateTo($"/main-warehouse/{id}");
    }
}
