@page "/main-warehouses"

@inject AuthenticationStateProvider AuthStateProvider
@inject MainWarehouseServiceWEB MainWarehouseService
@inject UserDepartmentServiceWEB userDepartment
@inject NavigationManager navigationManager

<AuthorizeView>
    <Authorized>
        <div class="container">
            @if(MainWarehouses.Count != 0)
            {
                <div class="card mb-3">
                    <div class="card-header d-flex flex-row">
                        <h3>Основные склады (по подразделениям)</h3>
                        <div class="px-1">
                            <select class="form-select form-select-sm" @onchange="OnPAgeSizeChanged">
                                <option value="5">5</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addMainwarehouse"><b>+</b></button>
                    </div>
                    <div class="card-body pb-2 px-0 mb-0" style="overflow: scroll;">
                        <QuickGrid Class="table table-striped m-0"
                                   Items="MainWarehouses.AsQueryable()"
                                   ItemKey="@(k => k.Id)"
                                   Pagination="pagination">
                            <PropertyColumn Property="@(p => p.UserDepartment!.Title)"
                                   Title="Наименование подразделения"
                                   Sortable="true"
                                   IsDefaultSortColumn="true" />
                            <PropertyColumn 
                                   Property="@(p => p.Title)" 
                                   Title="Наименование склада" 
                                   Sortable="true" />
                            <PropertyColumn 
                                   Property="@(p => p.Description)" 
                                   Title="Описание" />
                            <TemplateColumn Title="" Context="department">
                                <button class="btn btn-secondary btn-sm mx-1" @onclick="() => GoToMainWarehouse(department.Id)">Перейти</button>
                            </TemplateColumn>
                        </QuickGrid>
                    </div>
                    <div class="card-footer">
                        <Paginator State="pagination" />
                    </div>
                </div>
                @* <div class="page-size-chooser">
                    Items per page:
                    <select @bind="@pagination.ItemsPerPage">
                        <option selected>5</option>
                        <option>10</option>
                        <option>20</option>
                        <option>50</option>
                    </select>
                </div> *@

                <!-- Modal -->
                <div class="modal fade" id="addMainwarehouse" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addMainwarehouseTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addMainwarehouseTitle">Новый склад для подразделения</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <EditForm Model="mainWarehouseDTO" FormName="AddMainwarehouse" Context="AddMainwarehouse" OnValidSubmit="AddMainwarehouse">
                                <div class="modal-body">
                                    <DataAnnotationsValidator />

                                    <!-- Alert -->
                                    <div class="alert @ClassesAlert" role="alert">
                                        @ResponseMessage
                                    </div>
                                    <!-- End alert -->

                                    <div class="form-group">
                                        <label for="userdepartment">Подразделение</label>
                                        <InputSelect id="userdepartment" class="form-control" @bind-Value="mainWarehouseDTO.UserDepartmentId">
                                            <option value="x">Выберите подразделение пользователя</option>
                                            @foreach (UserDepartment department in UserDepartments)
                                            {
                                                <option value="@department.Id">@department.Title</option>
                                            }
                                        </InputSelect>
                                        <ValidationMessage For="@(() => mainWarehouseDTO.UserDepartmentId)" />
                                    </div>

                                    <div class="form-group">
                                        <label for="title">Наименование</label>
                                        <InputText id="title" class="form-control" @bind-Value="mainWarehouseDTO.Title" />
                                        <ValidationMessage For="@(() => mainWarehouseDTO.Title)" />
                                    </div>

                                    <div class="form-group">
                                        <label for="shorttitle">Описание</label>
                                        <InputText id="shorttitle" class="form-control" @bind-Value="mainWarehouseDTO.Description" />
                                        <ValidationMessage For="@(() => mainWarehouseDTO.Description)" />
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Отмена</button>
                                    <button type="submit" class="btn btn-success" id="submit">Добавить</button>
                                </div>
                            </EditForm>
                        </div>
                    </div>
                </div>
                <!-- End modal -->
            }
            else
            {
                <div class="text-center">
                    <div class="spinner-border text-success" role="status">
                        <span class="visually-hidden">Загрузка...</span>
                    </div>
                </div>
            }
        </div>

    </Authorized>
    <NotAuthorized>
        <p>Не авторизован.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    PaginationState pagination = new PaginationState { ItemsPerPage = 5 };
    private MainWarehouseDTO mainWarehouseDTO = new();
    private List<MainWarehouse> MainWarehouses = new();
    private List<UserDepartment> UserDepartments = new();
    private string ResponseMessage = string.Empty;
    private string ClassesAlert = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await ((CustomAuthStateProvider)AuthStateProvider).GetAuthenticationStateAsync();
            MainWarehouses = await MainWarehouseService.GetAllAsync();
            UserDepartments = await userDepartment.GetAllAsync();
        }
        catch (Exception ex) { }
    }

    private async Task AddMainwarehouse()
    {
        var response = await MainWarehouseService.AddAsync(mainWarehouseDTO);
        if (!response.Flag)
        {
            ResponseMessage = response.Message;
            ClassesAlert = "alert-warning";
        }
        else
        {
            ResponseMessage = response.Message;
            ClassesAlert = "alert-success";
            mainWarehouseDTO = new();
            MainWarehouses = await MainWarehouseService.GetAllAsync();
        }
    }
    private void OnPAgeSizeChanged(ChangeEventArgs e)
    {
        if(e.Value is not null)
        {
            pagination.ItemsPerPage = int.Parse((string)e.Value);
        }
    }

    private void GoToMainWarehouse(Guid id)
    {
        navigationManager.NavigateTo($"/main-warehouse/{id}");
    }
}
