@page "/main-warehouse/{Id:guid}"

@inject HttpClient httpClient
@inject IJSRuntime js
@inject AuthenticationStateProvider AuthStateProvider
@inject MainWarehouseServiceWEB MainWarehouseService
@inject CategoryHardwareServiceWEB CategoryHardwareService
@inject DocumentExternalSystemServiceWEB DocumentExternalSystem
@inject UserServiceWEB UserService
@inject UserWarehouseServiceWEB UserWarehouseService
@inject HardwareServiceWEB HardwareService
@inject NavigationManager navigationManager

<div class="container">
    @if (MainWarehouse != null)
    {
        <h3>@MainWarehouse.UserDepartment?.Title - @MainWarehouse.Title</h3>
        <div class="card mb-3">
            <div class="card-header">
                <AuthorizeView Roles="admin">
                    <Authorized>
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addHardware"><b>+ Добавить</b></button>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#moveHardware"><b>Переместить</b></button>
                        <button type="button" class="btn btn-secondary"><b>Вернуть</b></button>
                        <button type="button" class="btn btn-danger"><b>Списать</b></button>
                        <button type="button" class="btn btn-info" @onclick="GenerateQR"><b>QR</b></button>
                        <button type="button" class="btn btn-info" @onclick="GenerateLabel"><b>Label</b></button>
                    </Authorized>
                </AuthorizeView>
            </div>
            <div class="card-body pb-2 px-0 mb-0" style="overflow: scroll;">
                <table class="table table-hover text-center">
                    <thead>
                        <tr>
                            <th><input class="form-check-input" type="checkbox" @oninput="e => { ChangeAll(e.Value); }" /></th>
                            @foreach (var header in TableHeaders)
                            {
                                <th scope="col">@header</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @if (MainWarehouse.Hardwares.Count > 0)
                        {
                            @foreach (Hardware hardware in MainWarehouse.Hardwares)
                            {
                                <tr>
                                    <td><input class="form-check-input" type="checkbox" checked="@IsChecked" @oninput="e => { CheckboxChanged(hardware.Id, e.Value); }" /></td>
                                    <td>@hardware.Title</td>
                                    <td>@hardware.CategoryHardware.Title</td>
                                    <td>@hardware.CombinedInvNumber</td>
                                    <td>@hardware.InventoryNumberExternalSystem</td>
                                    <td>@hardware.DocumentExternalSystem.ShortTitle</td>
                                    <td>@hardware.DateTimeAdd</td>
                                    <td><a href="/user/@hardware.UserId?">@hardware.User?.LastName @hardware.User?.FirstName</a></td>
                                    <td><button class="btn btn-secondary btn-sm mx-1">Подробнее</button></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                
            </div>
            <div class="card-footer">

            </div>
        </div>


        <!-- Modal ADD HARDWARE-->
        <div class="modal fade" id="addHardware" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addHardwareTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addHardwareTitle">Новое оборудование</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <EditForm Model="hardwareDTO" FormName="AddHardware" Context="AddHardware" OnValidSubmit="AddHardware">
                                <div class="modal-body">
                                    <DataAnnotationsValidator />

                                    <!-- Alert -->
                                    <div class="alert @ClassesAlert" role="alert">
                                        @ResponseMessage
                                    </div>
                                    <!-- End alert -->

                                    <div class="form-group">
                                        <label for="category">Категория</label>
                                        <InputSelect id="category" class="form-control" @bind-Value="hardwareDTO.CategoryHardwareId">
                                            <option value="">Выберите категорию оборудования</option>
                                            @foreach (CategoryHardware category in Categories)
                                            {
                                                <option value="@category.Id">@category.Title</option>
                                            }
                                        </InputSelect>
                                        <ValidationMessage For="@(() => hardwareDTO.CategoryHardwareId)" />
                                    </div>

                                    <div class="form-group">
                                        <label for="document">Документ</label>
                                        <InputSelect id="document" class="form-control" @bind-Value="hardwareDTO.DocumentExternalSystemId">
                                            <option value="">Выберите документ внешней системы</option>
                                            @foreach (DocumentExternalSystem document in Documents)
                                            {
                                                <option value="@document.Id">@document.Title</option>
                                            }
                                        </InputSelect>
                                        <ValidationMessage For="@(() => hardwareDTO.DocumentExternalSystemId)" />
                                    </div>

                                    <div class="form-group">
                                        <label for="title">Наименование</label>
                                        <InputText id="title" class="form-control" @bind-Value="hardwareDTO.Title" />
                                        <ValidationMessage For="@(() => hardwareDTO.Title)" />
                                    </div>

                                    <div class="form-group">
                                        <label for="description">Описание</label>
                                        <InputText id="description" class="form-control" @bind-Value="hardwareDTO.Description" />
                                        <ValidationMessage For="@(() => hardwareDTO.Description)" />
                                    </div>

                                    <div class="form-group">
                                        <label for="count">Количество</label>
                                        <InputNumber id="count" class="form-control" @bind-Value="hardwareDTO.Count" />
                                        <ValidationMessage For="@(() => hardwareDTO.Count)" />
                                    </div>

                                    <div class="form-group">
                                        <label for="numberext">Номер внешней системы</label>
                                        <InputText id="numberext" class="form-control" @bind-Value="hardwareDTO.InventoryNumberExternalSystem" />
                                        <ValidationMessage For="@(() => hardwareDTO.InventoryNumberExternalSystem)" />
                                    </div>

                                    <div class="form-group">
                                        <label for="ttn">ТТН</label>
                                        <InputText id="ttn" class="form-control" @bind-Value="hardwareDTO.TTN" />
                                        <ValidationMessage For="@(() => hardwareDTO.TTN)" />
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Отмена</button>
                                    <button type="submit" class="btn btn-success" id="submit">Добавить</button>
                                </div>
                            </EditForm>
                        </div>
                    </div>
                </div>
        <!-- End modal -->

        <!-- Modal MOVE HARDWARE -->
        <div class="modal fade" id="moveHardware" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="moveHardwareTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="moveHardwareTitle">Переместить оборудование на сотрудника</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <EditForm Model="hardwareMoveDTO" FormName="MoveHardware" Context="MoveHardware" OnValidSubmit="MoveHardware">
                                <div class="modal-body">
                                    <DataAnnotationsValidator />

                                    <!-- Alert -->
                                    <div class="alert @ClassesAlert" role="alert">
                                        @ResponseMessage
                                    </div>
                                    <!-- End alert -->

                                    <div class="form-group">
                                        <label for="user">Сотрудник</label>
                                        <InputSelect id="user" class="form-control" @oninput="SelectedUser" @bind-Value="hardwareMoveDTO.UserId">
                                            <option value="">Выберите нужного сотрудника</option>
                                            @foreach (UserView user in UsersList)
                                            {
                                                <option value="@user.Id">@user.LastName @user.FirstName</option>
                                            }
                                        </InputSelect>
                                        <ValidationMessage For="@(() => hardwareMoveDTO.UserId)" />
                                    </div>

                                    <div class="form-group">
                                        <label for="user">Склад сотрудника</label>
                                        <InputSelect id="user" class="form-control" @bind-Value="hardwareMoveDTO.UserWarehouseId">
                                            <option value="">Выберите нужный склад</option>
                                            @foreach (UserWarehouse warehouse in UserWarehousesList)
                                            {
                                                <option value="@warehouse.Id">@warehouse.Title</option>
                                            }
                                        </InputSelect>
                                        <ValidationMessage For="@(() => hardwareMoveDTO.UserWarehouseId)" />
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Отмена</button>
                                    <button type="submit" class="btn btn-success" id="submit">Переместить</button>
                                </div>
                            </EditForm>
                        </div>
                    </div>
                </div>
        <!--End modal -->
    }
    else
    {
        <div class="text-center">
            <div class="spinner-border text-success" role="status">
                <span class="visually-hidden">Загрузка...</span>
            </div>
        </div>
    }
</div>


@code {
    [Parameter]
    public Guid Id { get; set; }

    PaginationState pagination = new PaginationState { ItemsPerPage = 5 };
    private MainWarehouse MainWarehouse = new();
    private HardwareDTO hardwareDTO = new();
    private HardwareMoveDTO hardwareMoveDTO = new();
    private List<CategoryHardware> Categories = new();
    private List<DocumentExternalSystem> Documents = new();
    private List<Guid> HardwaresId = new();
    private bool IsChecked = false;
    private string ResponseMessage = string.Empty;
    private string ClassesAlert = string.Empty;
    //private readonly string host = "http://hardware-vm:81";
    private readonly string host = "https://localhost:7266";
    private List<string> TableHeaders = ["Наименование", "Категория", "Инвентарный", "Номер у/с", "Документ у/с", "Дата добавления", "МОЛ", ""];
    private List<UserView> UsersList = new();
    private List<UserWarehouse> UserWarehousesList = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            //await ((CustomAuthStateProvider)AuthStateProvider).GetAuthenticationStateAsync();
            var response = await MainWarehouseService.GetByIdAsync(Id);
            if (response != null)
            {
                MainWarehouse = response;
                Categories = await CategoryHardwareService.GetAllAsync();
                Documents = await DocumentExternalSystem.GetAllAsync();
                UsersList = await UserService.GetAllAsync();
            }
        }
        catch (Exception ex) { }
    }
    private void OnPageSizeChanged(ChangeEventArgs e)
    {
        if (e.Value is not null)
        {
            pagination.ItemsPerPage = int.Parse((string)e.Value);
        }
    }
    private async Task AddHardware()
    {
        try
        {
            hardwareDTO.MainWarehouseId = Id;
            var response = await HardwareService.AddAsync(hardwareDTO);
            if (!response.Flag)
            {
                ResponseMessage = response.Message;
                ClassesAlert = "alert-warning";
            }
            else
            {
                ResponseMessage = response.Message;
                ClassesAlert = "alert-success";
                hardwareDTO = new();
                MainWarehouse = await MainWarehouseService.GetByIdAsync(Id);
            }
        }
        catch(Exception ex)
        {
            ResponseMessage = ex.Message;
        }

    }

    private async Task MoveHardware()
    {
        try
        {
            if(HardwaresId.Count > 0)
            {
                var response = await HardwareService.MoveToUserAsync(HardwaresId, hardwareMoveDTO.UserId, hardwareMoveDTO.UserWarehouseId);
                if (!response.Flag)
                {
                    ResponseMessage = response.Message;
                    ClassesAlert = "alert-warning";
                }
                else
                {
                    ResponseMessage = response.Message;
                    ClassesAlert = "alert-success";
                    HardwaresId.Clear();
                    MainWarehouse = await MainWarehouseService.GetByIdAsync(Id);
                }
            }
        }
        catch(Exception ex)
        {
            
        }
    }

    private async Task GenerateQR()
    {
        if (HardwaresId?.Count > 0)
        {
            var fileName = await HardwareService.GenerateQR(HardwaresId);
            var response = await httpClient.GetAsync($"{host}/api/Hardware/getlabel/{fileName}");
            await js.InvokeVoidAsync("window.open", $"{response.RequestMessage.RequestUri}", "_blank");
        }
        navigationManager.Refresh(true);
    }

    private async Task GenerateLabel()
    {
        if (HardwaresId?.Count > 0)
        {
            var fileName = await HardwareService.GenerateLabel(HardwaresId);
            var response = await httpClient.GetAsync($"{host}/api/Hardware/getlabel/{fileName}");
            await js.InvokeVoidAsync("window.open", $"{response.RequestMessage.RequestUri}", "_blank");
        }
        navigationManager.Refresh(true);
    }

    private void CheckboxChanged(Guid id, object checkedValue)
    {
        if ((bool)checkedValue)
        {
            HardwaresId.Add(id);
        }
        else
        {
            HardwaresId.Remove(id);
        }
    }
    private void ChangeAll(object checkedValue)
    {
        if ((bool)checkedValue)
        {
            IsChecked = true;
        }
        else
        {
            IsChecked = false;
        }
    }
    private async Task SelectedUser(ChangeEventArgs args)
    {
        var userId = args.Value.ToString();
        Guid.TryParse(userId, out Guid id);
        UserWarehousesList.Clear();
        UserWarehousesList = await UserWarehouseService.GetAllByUserIdAsync(id);
    }
}
