@page "/warehouses/main/{Id:guid}"

@inject HttpClient httpClient
@inject IJSRuntime js
@inject AuthenticationStateProvider AuthStateProvider
@inject MainWarehouseServiceWEB MainWarehouseService
@inject CategoryHardwareServiceWEB CategoryHardwareService
@inject DocumentExternalSystemServiceWEB DocumentExternalSystem
@inject UserServiceWEB UserService
@inject UserWarehouseServiceWEB UserWarehouseService
@inject HardwareServiceWEB HardwareService
@inject HistoryServiceWEB HistoryService
@inject NavigationManager navigationManager
@inject ProtectedLocalStorage protectedLocalStorage
@inject ILocalStorageService localStorage

<title>@MainWarehouse.UserDepartment?.Title - @MainWarehouse.Title</title>

<div class="container">
    @if (MainWarehouse != null)
    {
        <h3>@MainWarehouse.UserDepartment?.Title - @MainWarehouse.Title</h3>
        <div class="card mb-3">
            <div class="card-header">
                <AuthorizeView Roles="admin">
                    <Authorized>
                        <div class="row">
                            <div class="p-0 m-1 col-auto">
                                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addHardware" @onmousedown="AddHardwareEvent"><b>+ Добавить</b></button>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#moveHardware" @onmousedown="MoveHardwareEvent"><b>Переместить</b></button>
                                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#importHardware"><b>Импорт Excel</b></button>
                                <button type="button" class="btn btn-warning" @onmousedown="ExportHardwareEvent"><b>Экспорт Excel</b></button>
                                <button type="button" class="btn btn-primary" @onmousedown="MarkHardware"><b>Маркировать</b></button>
                                <button type="button" class="btn btn-secondary" @onmousedown="ReturnHardware"><b>Вернуть</b></button>
                                <button type="button" class="btn btn-danger" @onmousedown="WriteOffHardware"><b>Списать</b></button>
                                <button type="button" class="btn btn-info" @onmousedown="GenerateQR"><b>QR</b></button>
                                <button type="button" class="btn btn-info" @onmousedown="GenerateLabel"><b>Label</b></button>
                            </div>
                        </div>
                        <div class="p-0 m-1 col-auto">
                            <div class="row justify-content-center">
                                <div class="col-sm-5">
                                    <InputSelect class="form-select" id="warehouseSelect" @oninput="selectedCategoryEvent" @bind-Value="CategoryHardware.Id">
                                        <option value="1" selected>Все категории</option>
                                        @foreach (CategoryHardware category in Categories)
                                        {
                                            <option value="@category.Id">@category.Title</option>
                                        }
                                    </InputSelect>
                                </div>
                                <div class="col-sm-6">
                                    <InputText class="form-control" @bind-value="SearchString" @oninput="SearchEvent" placeholder="Введите для поиска..." />
                                </div>
                                <div class="col-sm-1">
                                    <span>Всего: <span class="fw-bold">@StringCount</span></span>
                                </div>
                            </div>
                        </div>
                    </Authorized>
                </AuthorizeView>
            </div>
            <div class="card-body pb-2 px-0 mb-0" style="overflow: scroll;">
                <table class="table table-hover text-center">
                    <thead>
                        <tr>
                            <th><input class="form-check-input" type="checkbox" @bind-value="IsChecked"  /></th>
                            @foreach (var header in TableHeaders)
                            {
                                <th scope="col">@header</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @if (MainWarehouse.Hardwares.Count > 0)
                        {
                            @foreach (Hardware hardware in FilteredHardwares)
                            {
                                <tr>
                                    <td><input class="form-check-input" type="checkbox" checked="@IsChecked" @oninput="e => { CheckboxChanged(hardware.Id, e.Value); }" /></td>
                                    <td>@hardware.Title</td>
                                    <td>@hardware.CombinedInvNumber</td>
                                    <td>@hardware.InventoryNumberExternalSystem</td>
                                    <td>@hardware.DateTimeAdd</td>
                                    <td><a href="/users/@hardware.UserId?">@hardware.User?.LastName @hardware.User?.FirstName</a></td>
                                    <td><button class="btn btn-secondary btn-sm mx-1"
                                                data-bs-toggle="modal"
                                                data-bs-target="#viewHardware"
                                                @onclick="() => ViewHardware(hardware.Id)">
                                            Подробнее
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                
            </div>
            <div class="card-footer">
                @if (PageCount > 0)
                {
                    <div class="row">
                        <div class="col-1">
                            <InputSelect class="form-select" style="cursor: pointer;" @bind-Value="ItemPerPage" @oninput="selectChange">
                                <option value="10" selected>10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="50">50</option>
                            </InputSelect>
                        </div>
                        <div class="col">
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-end">
                                    <li class="@PrevClasses" style="cursor: pointer;"><a class="page-link" alt="prev" @onclick="prevEvent">&laquo;</a></li>
                                    @for (int i = 1; PageCount >= i; i++)
                                    {
                                        int j = i;
                                        @if (i == PageNumber)
                                        {
                                            <li class="page-item" style="cursor: pointer;"><a class="page-link active" alt="@i" @onclick="e => { CalculateQuantity(ItemPerPage, j, null); }">@i</a></li>
                                        }
                                        else
                                        {
                                            <li class="page-item" style="cursor: pointer;"><a class="page-link" alt="@i" @onclick="e => { CalculateQuantity(ItemPerPage, j, null); }">@i</a></li>
                                        }
                                    }
                                    <li class="@NextClasses" style="cursor: pointer;"><a class="page-link" @onclick="nextEvent">&raquo;</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                }
            </div>
        </div>


        <!-- Modal ADD HARDWARE -->
        <div class="modal fade" id="addHardware" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addHardwareTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addHardwareTitle">Новое оборудование</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <EditForm Model="hardwareDTO" FormName="AddHardware" Context="AddHardware" OnValidSubmit="AddHardware">
                                <div class="modal-body">
                                    <DataAnnotationsValidator />

                                    <!-- Alert -->
                                    <div class="alert @ClassesAlert" role="alert">
                                        @ResponseMessage
                                    </div>
                                    <!-- End alert -->

                                    <div class="form-group">
                                        <label for="category">Категория</label>
                                        <InputSelect id="category" class="form-select" @bind-Value="hardwareDTO.CategoryHardwareId">
                                            <option value="">Выберите категорию оборудования</option>
                                            @foreach (CategoryHardware category in Categories)
                                            {
                                                <option value="@category.Id">@category.Title</option>
                                            }
                                        </InputSelect>
                                        <ValidationMessage For="@(() => hardwareDTO.CategoryHardwareId)" />
                                    </div>

                                    <div class="form-group">
                                        <label for="document">Документ</label>
                                        <InputSelect id="document" class="form-select" @bind-Value="hardwareDTO.DocumentExternalSystemId">
                                            <option value="">Выберите документ внешней системы</option>
                                            @foreach (DocumentExternalSystem document in Documents)
                                            {
                                                <option value="@document.Id">@document.Title</option>
                                            }
                                        </InputSelect>
                                        <ValidationMessage For="@(() => hardwareDTO.DocumentExternalSystemId)" />
                                    </div>

                                    <div class="form-group">
                                        <label for="title">Наименование</label>
                                        <InputText id="title" class="form-control" @bind-Value="hardwareDTO.Title" />
                                        <ValidationMessage For="@(() => hardwareDTO.Title)" />
                                    </div>

                                    <div class="form-group">
                                        <label for="description">Описание</label>
                                        <InputText id="description" class="form-control" @bind-Value="hardwareDTO.Description" />
                                        <ValidationMessage For="@(() => hardwareDTO.Description)" />
                                    </div>

                                    <div class="form-group">
                                        <label for="count">Количество</label>
                                        <InputNumber id="count" class="form-control" @bind-Value="hardwareDTO.Count" />
                                        <ValidationMessage For="@(() => hardwareDTO.Count)" />
                                    </div>

                                    <div class="form-group">
                                        <label for="numberext">Номер внешней системы</label>
                                        <InputText id="numberext" class="form-control" @bind-Value="hardwareDTO.InventoryNumberExternalSystem" />
                                        <ValidationMessage For="@(() => hardwareDTO.InventoryNumberExternalSystem)" />
                                    </div>

                                    <div class="form-group">
                                        <label for="numberext">Серийный номер</label>
                                        <InputText id="numberext" class="form-control" @bind-Value="hardwareDTO.SerialNumber" />
                                        <ValidationMessage For="@(() => hardwareDTO.SerialNumber)" />
                                    </div>

                                    <div class="form-group">
                                        <label for="ttn">ТТН</label>
                                        <InputText id="ttn" class="form-control" @bind-Value="hardwareDTO.TTN" />
                                        <ValidationMessage For="@(() => hardwareDTO.TTN)" />
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Отмена</button>
                                    <button type="submit" class="btn btn-success" id="submit">Добавить</button>
                                </div>
                            </EditForm>
                        </div>
                    </div>
                </div>
        <!-- End modal -->

        <!-- Modal MOVE HARDWARE -->
        <div class="modal fade" id="moveHardware" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="moveHardwareTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="moveHardwareTitle">Переместить оборудование на сотрудника</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <EditForm Model="hardwareMoveDTO" FormName="MoveHardware" Context="MoveHardware" OnValidSubmit="MoveHardware">
                                <div class="modal-body">
                                    <DataAnnotationsValidator />

                                    <!-- Alert -->
                                    <div class="alert @ClassesAlert" role="alert">
                                        @ResponseMessage
                                    </div>
                                    <!-- End alert -->

                                    <div class="form-group">
                                        <label for="user">Сотрудник</label>
                                        <InputSelect id="user" class="form-control" @oninput="SelectedUserEvent" @bind-Value="hardwareMoveDTO.UserId">
                                            <option value="">Выберите нужного сотрудника</option>
                                            @foreach (UserView user in UsersList.OrderBy(u=>u.LastName))
                                            {
                                                <option value="@user.Id">@user.LastName @user.FirstName</option>
                                            }
                                        </InputSelect>
                                        <ValidationMessage For="@(() => hardwareMoveDTO.UserId)" />
                                    </div>

                                    <div class="form-group">
                                        <label for="user">Склад сотрудника</label>
                                        <InputSelect id="user" class="form-control" @bind-Value="hardwareMoveDTO.UserWarehouseId">
                                            <option selected value="">Выберите нужный склад</option>
                                            @foreach (UserWarehouse warehouse in UserWarehousesList)
                                            {
                                                <option value="@warehouse.Id">@warehouse.Title</option>
                                            }
                                        </InputSelect>
                                        <ValidationMessage For="@(() => hardwareMoveDTO.UserWarehouseId)" />
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Отмена</button>
                                    <button type="submit" class="btn btn-success" id="submit">Переместить</button>
                                </div>
                            </EditForm>
                        </div>
                    </div>
                </div>
        <!--End modal -->

        <!-- Modal IMPORT HARDWARE -->
        <div class="modal fade" id="importHardware" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="importHardwareTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="importHardwareTitle">Импорт оборудования из файла Excel</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <!-- Alert -->
                        <div class="alert @ClassesAlert" role="alert">
                            @ResponseMessage
                        </div>
                        <!-- End alert -->

                        <div class="form-group">
                            <label>Файл Excel</label>
                            <InputFile class="form-control" id="file" OnChange="UploadFile" accept=".xls,.xlsx" />
                        </div>

                        <div class="form-group">
                            <label>Строк импортировано: @ImportStringCount</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End modal -->

        <!-- Modal VIEW HARDWARE -->
        <div class="modal fade" id="viewHardware" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="viewHardwareTitle" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="viewHardwareTitle">@Hardware.Title</h5>
                        <button type="button" @onclick="closeModalView" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="p-0 m-1 col-auto">
                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#moveHardware" @onclick="MoveHardwareEvent"><b>Переместить</b></button>
                                                <button type="button" class="btn btn-primary" @onclick="MarkHardware"><b>Маркировать</b></button>
                                                <button type="button" class="btn btn-secondary" @onclick="ReturnHardware"><b>Вернуть</b></button>
                                                <button type="button" class="btn btn-danger" @onclick="WriteOffHardware"><b>Списать</b></button>
                                                <button type="button" class="btn btn-info" @onclick="GenerateQR"><b>QR</b></button>
                                                <button type="button" class="btn btn-info" @onclick="GenerateLabel"><b>Label</b></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col"><h6>ID</h6></div>
                                            <div class="col-9 d-flex justify-content-end">@Hardware.Id</div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col"><h6>Склад</h6></div>
                                            <div class="col-9 d-flex justify-content-end">@Hardware.MainWarehouse?.Title</div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col"><h6>Категория</h6></div>
                                            <div class="col-9 d-flex justify-content-end">@Hardware.CategoryHardware?.Title
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col"><h6>Сотрудник</h6></div>
                                            <div class="col-9 d-flex justify-content-end">@Hardware.User?.LastName @Hardware.User?.FirstName</div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col"><h6>Склад сотрудника</h6></div>
                                            <div class="col-9 d-flex justify-content-end">
                                                <InputSelect id="user" class="form-select" @bind-Value="Hardware.UserWarehouseId" @oninput="SelectedUserWarehouseEvent">
                                                    @foreach (UserWarehouse warehouse in UserWarehousesList)
                                                    {
                                                        <option value="@warehouse.Id">@warehouse.Title</option>
                                                    }
                                                </InputSelect>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col"><h6>Для этикетки</h6></div>
                                            <div class="col-9 d-flex justify-content-end">@Hardware.NameForLabel</div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col"><h6>Код марк.</h6></div>
                                            <div class="col-9 d-flex justify-content-end">@Hardware.MarkCode</div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col">
                                                <div class="row">
                                                    <div class="col">
                                                        <h6>№ 1С</h6>
                                                    </div>
                                                    <div class="col d-flex justify-content-end">@Hardware.InventoryNumberExternalSystem</div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="row">
                                                    <div class="col">
                                                        <h6>Док. 1С</h6>
                                                    </div>
                                                    <div class="col d-flex justify-content-end">@Hardware.DocumentExternalSystem?.ShortTitle</div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col">
                                                <div class="row">
                                                    <div class="col">
                                                        <h6>Инв.№</h6>
                                                    </div>
                                                    <div class="col d-flex justify-content-end">@Hardware.CombinedInvNumber</div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="row">
                                                    <div class="col-3">
                                                        <h6>SN</h6>
                                                    </div>
                                                    <div class="col d-flex justify-content-end">@Hardware.SerialNumber</div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col"><h6>ТТН</h6></div>
                                            <div class="col-9 d-flex justify-content-end">@Hardware.TTN</div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col"><h6>Описание</h6></div>
                                            <div class="col-9 d-flex justify-content-end">@Hardware.Description</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <EditForm Model="updateDTO" FormName="ViewHardware" Context="ViewHardware" OnValidSubmit="EditHardware">
                                    <div class="modal-body">

                                        <div class="form-group">
                                            <label for="title">Наименование (для этикетки) новое</label>
                                            <InputText id="title" class="form-control" @bind-Value="updateDTO.NameForLabel" />
                                            <ValidationMessage For="@(() => updateDTO.NameForLabel)" />
                                        </div>

                                        <div class="form-group">
                                            <label for="numberext">Номер 1С (новый)</label>
                                            <InputText id="numberext" class="form-control" @bind-Value="updateDTO.InventoryNumberExternalSystem" />
                                            <ValidationMessage For="@(() => updateDTO.InventoryNumberExternalSystem)" />
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-success" id="submit">Сохранить изменения</button>
                                    </div>
                                </EditForm>
                                <div class="row">
                                    <div class="col-12">
                                        <a class="btn btn-secondary" @onclick="showHistoryEvent" data-bs-toggle="collapse" href="#collapseHistory" role="button" aria-expanded="false" aria-controls="collapseHistory">
                                            @ShowAllHistoryTextButton
                                        </a>
                                    </div>
                                    <div class="col-12" style="height: 410px; overflow-y: auto;">
                                        @foreach (History history in ShowHistoryList)
                                        {
                                            <hr />
                                            <div class="row">
                                                <div class="col"><h6>@history.OperationType</h6></div>
                                                <div class="col">@history.DateTimeChanges</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <p><i>@history.Annotation</i></p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 ps-5">
                                                    <h6>[@history.Responsible]</h6>
                                                </div>
                                            </div>
                                        }
                                        <div class="collapse" id="collapseHistory">
                                            @if (HideHistoryList.Count > 0)
                                            {
                                                @foreach (History history in HideHistoryList)
                                                {
                                                    <hr />
                                                    <div class="row">
                                                        <div class="col"><h6>@history.OperationType</h6></div>
                                                        <div class="col">@history.DateTimeChanges</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <p><i>@history.Annotation</i></p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12 ps-5">
                                                            <h6>[@history.Responsible]</h6>
                                                        </div>
                                                    </div>
                                                }
                                                <hr />
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- End modal -->
    }
    else
    {
        <div class="text-center">
            <div class="spinner-border text-success" role="status">
                <span class="visually-hidden">Загрузка...</span>
            </div>
        </div>
    }
</div>


@code {
    [Parameter]
    public Guid Id { get; set; }

    [CascadingParameter] protected Task<AuthenticationState> AuthStat { get; set; }

    private ClaimsPrincipal user = new();
    public UserView userView = new();
    public string username = string.Empty;

    PaginationState pagination = new PaginationState { ItemsPerPage = 5 };
    private MainWarehouse MainWarehouse = new();
    private List<Hardware> FilteredHardwares = new();
    private List<Hardware> Hardwares = new();
    private CategoryHardware CategoryHardware = new();
    private HardwareDTO hardwareDTO = new();
    private HardwareMoveDTO hardwareMoveDTO = new();
    private HardwareReturnDTO returnDTO = new();
    private HardwareUpdateDTO updateDTO = new();
    private HardwareWriteOffDTO writeOffDTO = new();
    private MarkAllHardwareDTO markAllHardwareDTO = new();
    private List<CategoryHardware> Categories = new();
    private List<DocumentExternalSystem> Documents = new();
    private List<Guid> HardwaresId = new();
    private string SearchString { get; set; } = string.Empty;
    private bool IsChecked = false;
    private bool ViewModalShow = false;
    private string ResponseMessage = string.Empty;
    private string ClassesAlert = string.Empty;
    private readonly string host = "http://hardware-vm:81";
    //private readonly string host = "http://apitmk.site";
    //private readonly string host = "https://localhost:7266";
    private List<string> TableHeaders = ["Наименование", "Инвентарный", "Номер 1С", "Дата добавления", "МОЛ", ""];
    private List<UserView> UsersList = new();
    private List<UserWarehouse> UserWarehousesList = new();
    private int StringCount;
    private int ImportStringCount;
    private Hardware Hardware = new();
    private List<History> HideHistoryList = new();
    private List<History> ShowHistoryList = new();
    private string HistoryResponsible = string.Empty;
    private UserView HistorySender = new();
    private UserView HistoryRecipient = new();
    private MainWarehouse HistoryMainWarehouse = new();
    private UserWarehouse HistoryUserWarehouse = new();
    private string ShowAllHistoryTextButton = string.Empty;
    private bool ShowAllHistoryButton = false;
    private int PageCount = 0;
    private int PageNumber = 1;
    private int ItemPerPage = 10;
    private string PrevClasses = "page-item disabled";
    private string NextClasses = "page-item";


    protected override async Task OnInitializedAsync()
    {
        try
        {
            await ((CustomAuthStateProvider)AuthStateProvider).GetAuthenticationStateAsync();
            var response = await MainWarehouseService.GetByIdAsync(Id);
            if (response != null)
            {
                MainWarehouse = response;
                Hardwares = response.Hardwares;
                StringCount = response.Hardwares.Count;
                Categories = await CategoryHardwareService.GetAllAsync();
                FilteredHardwares.Clear();
                FilteredHardwares = Hardwares.Take(ItemPerPage).ToList();
                CalculateQuantity(ItemPerPage, PageNumber, null);
                ShowAllHistoryTextButton = $"Показать всю историю ({HideHistoryList.Count}) ↓";
            }
        }
        catch (Exception ex) { }
    }

    private async Task SetUserIdToLocalStorageAsync()
    {
        user = (await AuthStat).User;
        if (user.Identity != null)
        {
            username = user.Identity.Name;
            try
            {
                userView = await UserService.GetByUsernameAsync(username);
                if (userView != null)
                    await localStorage.SetItemAsync("userId", userView.Id);
            }
            catch (Exception ex)
            {

            }
        }
    }

    private async Task AddHardware()
    {
        try
        {
            await SetUserIdToLocalStorageAsync();
            hardwareDTO.MainWarehouseId = Id;
            string userId = await localStorage.GetItemAsync<string>("userId");
            if(userId != string.Empty)
                hardwareDTO.ResponsibleId = Guid.Parse(userId);
            var response = await HardwareService.AddAsync(hardwareDTO);
            if (!response.Flag)
            {
                ResponseMessage = response.Message;
                ClassesAlert = "alert-warning";
            }
            else
            {
                ResponseMessage = response.Message;
                ClassesAlert = "alert-success";
                hardwareDTO = new();
                MainWarehouse = await MainWarehouseService.GetByIdAsync(Id);
                FilteredHardwares.Clear();
                FilteredHardwares = MainWarehouse.Hardwares.Take(ItemPerPage).ToList();
            }
        }
        catch(Exception ex)
        {
            ResponseMessage = ex.Message;
        }

    }

    private async Task MoveHardware()
    {
        try
        {
            if(HardwaresId.Count > 0)
            {
                await SetUserIdToLocalStorageAsync();
                string userId = await localStorage.GetItemAsync<string>("userId");
                if (userId != string.Empty)
                    hardwareMoveDTO.ResponsibleId = Guid.Parse(userId);
                hardwareMoveDTO.HardwareIdList = HardwaresId;
                var response = await HardwareService.MoveToUserAsync(hardwareMoveDTO);
                if (!response.Flag)
                {
                    ResponseMessage = response.Message;
                    ClassesAlert = "alert-warning";
                }
                else
                {
                    ResponseMessage = response.Message;
                    ClassesAlert = "alert-success";
                    HardwaresId.Clear();
                    MainWarehouse = await MainWarehouseService.GetByIdAsync(Id);
                    foreach (var hardware in MainWarehouse.Hardwares)
                    {
                        var category = await CategoryHardwareService.GetByIdAsync(hardware.CategoryHardwareId);
                        var document = await DocumentExternalSystem.GetByIdAsync(hardware.DocumentExternalSystemId);
                        hardware.CategoryHardware = category;
                        hardware.DocumentExternalSystem = document;
                    }
                }
            }
        }
        catch(Exception ex)
        {

        }
    }

    private async Task GenerateQR()
    {
        if (HardwaresId?.Count > 0)
        {
            var token = await protectedLocalStorage.GetAsync<string>("authToken");
            if (token.Value != string.Empty)
            {
                httpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token.Value);
                var fileName = await HardwareService.GenerateQR(HardwaresId);
                var response = await httpClient.GetAsync($"{host}/api/Hardwares/label/{fileName}");
                await js.InvokeVoidAsync("window.open", $"{response.RequestMessage.RequestUri}", "_blank");
            }
        }
        if (ViewModalShow == false)
            navigationManager.Refresh(true);
    }

    private async Task GenerateLabel()
    {
        if (HardwaresId?.Count > 0)
        {
            var token = await protectedLocalStorage.GetAsync<string>("authToken");
            if (token.Value != string.Empty)
            {
                httpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token.Value);
                var fileName = await HardwareService.GenerateLabel(HardwaresId);
                var response = await httpClient.GetAsync($"{host}/api/Hardwares/label/{fileName}");
                await js.InvokeVoidAsync("window.open", $"{response.RequestMessage.RequestUri}", "_blank");
            }
        }
        if (ViewModalShow == false)
            navigationManager.Refresh(true);
    }

    private void CheckboxChanged(Guid id, object checkedValue)
    {
        if ((bool)checkedValue)
        {
            HardwaresId.Add(id);
            ViewModalShow = false;
        }
        else
        {
            ViewModalShow = false;
            HardwaresId.Remove(id);
        }
    }

    private void ChangeAll(object checkedValue)
    {
        if ((bool)checkedValue)
        {
            IsChecked = true;
        }
        else
        {
            IsChecked = false;
        }
    }

    private async Task SelectedUserEvent(ChangeEventArgs args)
    {
        var userId = args.Value.ToString();
        Guid.TryParse(userId, out Guid id);
        UserWarehousesList.Clear();
        UserWarehousesList = await UserWarehouseService.GetAllByUserIdAsync(id);
    }

    private async Task UploadFile(InputFileChangeEventArgs e)
    {
        if (e.File is null) return;
        try
        {
            await SetUserIdToLocalStorageAsync();
            string userId = await localStorage.GetItemAsync<string>("userId");
            using var stream = new MemoryStream();
            await e.File.OpenReadStream().CopyToAsync(stream);
            stream.Position = 0;
            using var workbook = new XLWorkbook(stream);
            var worksheet = workbook.Worksheets.First();
            var rows = worksheet.RowsUsed().Skip(1);
            List<HardwareImportDTO> hardwares = new List<HardwareImportDTO>();
            foreach(var row in rows)
            {
                HardwareImportDTO hardwareImport = new HardwareImportDTO
                {
                    ResponsibleId = Guid.Parse(userId),
                    MainWarehouseId = Guid.Parse(row.Cell(1).Value.ToString()),
                    CategoryHardwareId = Guid.Parse(row.Cell(2).Value.ToString()),
                    DocumentExternalSystemId = Guid.Parse(row.Cell(3).Value.ToString()),
                    Title = row.Cell(4).Value.ToString(),
                    Count = int.Parse(row.Cell(5).Value.ToString()),
                    InventoryNumberExternalSystem = row.Cell(6).Value.ToString(),
                    TTN = row.Cell(7).Value.ToString()
                };
                ImportStringCount += 1;
                hardwares.Add(hardwareImport);
            }
            var result = await HardwareService.Import(hardwares);
            if (!result.Flag)
            {
                ResponseMessage = result.Message;
                ClassesAlert = "alert-warning";
            }
            else
            {
                ResponseMessage = result.Message;
                ClassesAlert = "alert-success";
            }
        }
        catch(Exception ex){}
    }

    private async Task AddHardwareEvent(MouseEventArgs args)
    {
        Categories = await CategoryHardwareService.GetAllAsync();
        Documents = await DocumentExternalSystem.GetAllAsync();
    }

    private async Task MoveHardwareEvent(MouseEventArgs args)
    {
        UsersList = await UserService.GetAllAsync();
    }

    private async Task ViewHardware(Guid hardwareId)
    {
        ViewModalShow = true;
        HardwaresId.Clear();
        UserWarehousesList.Clear();
        HardwaresId.Add(hardwareId);
        Hardware = new();
        try
        {
            HideHistoryList.Clear();
            ShowHistoryList.Clear();
            Hardware = await HardwareService.GetByIdAsync(hardwareId);
            if (Hardware.UserId.HasValue)
            {
                UserWarehousesList = await UserWarehouseService.GetAllByUserIdAsync(Hardware.UserId.Value);
            }
            HideHistoryList = await HistoryService.GetByHardwareIdAsync(hardwareId);
            if(HideHistoryList.Count > 0)
            {
                foreach(History history in HideHistoryList)
                {
                    if (history.ResponsibleId.HasValue)
                    {
                        var resposibleId = history.ResponsibleId ?? Guid.Empty;
                        var responsible = await UserService.GetByIdAsync(resposibleId);
                        if(responsible != null)
                        {
                            history.Responsible = $"{responsible.LastName} {responsible.FirstName}";
                        }
                    }

                    if (history.SenderId.HasValue)
                    {
                        var senderId = history.SenderId ?? Guid.Empty;
                        var sender = await UserService.GetByIdAsync(senderId);
                        if (sender != null)
                        {
                            history.Sender = $"{sender.LastName} {sender.FirstName}";
                        }
                    }

                    if (history.RecipientId.HasValue)
                    {
                        var recipientId = history.RecipientId ?? Guid.Empty;
                        var recipient = await UserService.GetByIdAsync(recipientId);
                        if (recipient != null)
                        {
                            history.Recipient = $"{recipient.LastName} {recipient.FirstName}";
                        }
                    }

                    if (history.WarehouseId.HasValue)
                    {
                        var warehouseId = history.WarehouseId ?? Guid.Empty;
                        var mainWarehouse = await MainWarehouseService.GetByIdAsync(warehouseId);
                        if (mainWarehouse != null)
                        {
                            history.MainWarehouse = mainWarehouse.Title;
                        }
                    }

                    if (history.UserWarehouseId.HasValue)
                    {
                        var userWarehouseId = history.UserWarehouseId ?? Guid.Empty;
                        var userWarehouse = await UserWarehouseService.GetByIdAsync(userWarehouseId);
                        if (userWarehouse != null)
                        {
                            history.UserWarehouse = userWarehouse.Title;
                        }
                    }

                    if (history.OperationType == "Перемещение")
                    {
                        if (history.SenderId.HasValue)
                        {
                            history.Annotation = $"Оборудование перемещено {history.Sender} → {history.Recipient} ({history.UserWarehouse}).";
                        }
                        else
                        {
                            history.Annotation = $"Оборудование перемещено на {history.Recipient} ({history.UserWarehouse}).";
                        }
                    }

                    if (history.OperationType == "Возврат")
                    {
                        if (history.WarehouseId.HasValue)
                        {
                            history.Annotation = $"Оборудование возвращено на склад ({history.MainWarehouse}).";
                        }
                        else
                        {
                            history.Annotation = $"Оборудование возвращено на склад.";
                        }
                    }

                    if (history.OperationType == "Импорт")
                    {
                        if (history.WarehouseId.HasValue)
                        {
                            history.Annotation = $"Оборудование импортировано из Excel ({history.MainWarehouse}).";
                        }
                        else
                        {
                            history.Annotation = $"Оборудование импортировано из Excel.";
                        }
                    }

                    if (history.OperationType == "Добавление")
                    {
                        if (history.WarehouseId.HasValue)
                        {
                            history.Annotation = $"Оборудование добавлено вручную ({history.MainWarehouse}).";
                        }
                        else
                        {
                            history.Annotation = $"Оборудование добавлено вручную.";
                        }
                    }

                    if (history.OperationType == "Маркировка")
                    {
                        if (history.HardwareMarkCode.HasValue)
                        {
                            history.Annotation = $"Оборудование промаркировано {history.HardwareMarkCode}";
                        }
                        else
                        {
                            history.Annotation = $"Оборудование промаркировано.";
                        }
                    }

                    if (history.OperationType == "Списание")
                    {
                        if (history.WarehouseId.HasValue)
                        {
                            history.Annotation = $"Оборудование списано ({history.MainWarehouse}).";
                        }
                        else
                        {
                            history.Annotation = $"Оборудование списано.";
                        }
                    }
                }

                int quantity = 0;

                if(HideHistoryList.Count >= 3)
                {
                    quantity = 3;
                }
                else
                {
                    quantity = HideHistoryList.Count;
                }

                for (int i = 0; i < quantity; i++)
                {
                    if (HideHistoryList[i] != null)
                        ShowHistoryList.Add(HideHistoryList[i]);
                }

                HideHistoryList.RemoveRange(0, quantity);
                ShowAllHistoryTextButton = $"Показать всю историю ({HideHistoryList.Count}) ↓";

                // if (HideHistoryList[0] != null)
                //     ShowHistoryList.Add(HideHistoryList[0]);
                // if (HideHistoryList[1] != null)
                //     ShowHistoryList.Add(HideHistoryList[1]);
                // if (HideHistoryList[2] != null)
                //     ShowHistoryList.Add(HideHistoryList[2]);

                // HideHistoryList.RemoveAt(0);
                // HideHistoryList.RemoveAt(1);
                // HideHistoryList.RemoveAt(2);
            }
        }
        catch(Exception ex) {}
    }

    private async Task ReturnHardware()
    {
        if(HardwaresId.Count > 0)
        {
            await SetUserIdToLocalStorageAsync();
            string userId = await localStorage.GetItemAsync<string>("userId");
            if (userId != string.Empty)
                returnDTO.ResponsibleId = Guid.Parse(userId);
            returnDTO.HardwareIdList = HardwaresId;
            var result = await HardwareService.ReturnAsync(returnDTO);
            var response = await MainWarehouseService.GetByIdAsync(Id);
            if (response != null)
            {
                MainWarehouse = response;
            }
        }
    }

    private async Task MarkHardware()
    {
        await SetUserIdToLocalStorageAsync();
        string userId = await localStorage.GetItemAsync<string>("userId");
        if (userId != string.Empty)
            markAllHardwareDTO.ResponsibleId = Guid.Parse(userId);
        markAllHardwareDTO.HardwareIdList = HardwaresId;
        var result = await HardwareService.MarkAllHardware(markAllHardwareDTO);
        var response = await MainWarehouseService.GetByIdAsync(Id);
        if (response != null)
        {
            MainWarehouse = response;
        }
    }

    private async Task EditHardware()
    {
        updateDTO.HardwareId = Hardware.Id;
        var result = await HardwareService.UpdateAsync(updateDTO);
        updateDTO = new();
        Hardware = new();
        Hardware = result;
    }

    private async Task SearchEvent(ChangeEventArgs args)
    {
        SearchString = args.Value.ToString();
        if (string.IsNullOrWhiteSpace(SearchString))
        {
            CalculateQuantity(ItemPerPage, PageNumber, null);
            if (CategoryHardware.Id != Guid.Empty)
            {
                StringCount = FilteredHardwares.Count;
            }
            else
            {
                StringCount = Hardwares.Count;
            }
        }
        else
        {
            if(CategoryHardware.Id != Guid.Empty)
            {
                FilteredHardwares = MainWarehouse.Hardwares.Where(d => d.Title.Contains(SearchString, StringComparison.OrdinalIgnoreCase) ||
                                                                   d.Description.Contains(SearchString, StringComparison.OrdinalIgnoreCase) ||
                                                                   d.InventoryNumberExternalSystem.Contains(SearchString, StringComparison.OrdinalIgnoreCase) ||
                                                                   d.TTN.Contains(SearchString, StringComparison.OrdinalIgnoreCase) ||
                                                                   d.CombinedInvNumber.Contains(SearchString, StringComparison.OrdinalIgnoreCase)).ToList().Where(h => h.CategoryHardwareId == CategoryHardware.Id).ToList();
                StringCount = FilteredHardwares.Count;
            }
            else
            {
                FilteredHardwares = MainWarehouse.Hardwares.Where(d => d.Title.Contains(SearchString, StringComparison.OrdinalIgnoreCase) ||
                                                                   d.Description.Contains(SearchString, StringComparison.OrdinalIgnoreCase) ||
                                                                   d.InventoryNumberExternalSystem.Contains(SearchString, StringComparison.OrdinalIgnoreCase) ||
                                                                   d.TTN.Contains(SearchString, StringComparison.OrdinalIgnoreCase) ||
                                                                   d.CombinedInvNumber.Contains(SearchString, StringComparison.OrdinalIgnoreCase)).ToList();
                CategoryHardware = new();
                StringCount = FilteredHardwares.Count;
                CalculateQuantity(ItemPerPage, PageNumber, FilteredHardwares);
            }
        }
    }

    private void CalculateQuantity(int itemPerPage, int pageNumber, List<Hardware>? filteredHdw)
    {
        int calculatedValue = 0;
        int itemQuantity = itemPerPage;
        PageNumber = pageNumber;
        if (CategoryHardware.Id != Guid.Empty)
        {
            filteredHdw = MainWarehouse.Hardwares.Where(d => d.CategoryHardwareId == CategoryHardware.Id).ToList();
            if (itemPerPage > filteredHdw.Count)
                pageNumber = 1;
        }
        if (pageNumber > 1)
        {
            calculatedValue = (itemPerPage * pageNumber) - itemPerPage;
        }
        if (filteredHdw != null)
        {
            int currentQuantity = filteredHdw.Count - calculatedValue;
            if (currentQuantity > 0)
            {
                if (itemPerPage > currentQuantity & currentQuantity > 0)
                {
                    itemQuantity = currentQuantity;
                }

            }
            else
            {
                itemQuantity = filteredHdw.Count();
            }
            FilteredHardwares = filteredHdw.GetRange(calculatedValue, itemQuantity).ToList();
            PageCount = (filteredHdw.Count + itemPerPage - 1) / itemPerPage;
            StringCount = filteredHdw.Count;
            NextClasses = "page-item";
            PrevClasses = "page-item";
        }
        else
        {
            int currentQuantity = Hardwares.Count() - calculatedValue;
            if(currentQuantity > 0)
            {
                if (itemPerPage > currentQuantity & currentQuantity > 0)
                {
                    itemQuantity = currentQuantity;
                }
                FilteredHardwares = Hardwares.GetRange(calculatedValue, itemQuantity).ToList();
                PageCount = (Hardwares.Count() + itemPerPage - 1) / itemPerPage;
                NextClasses = "page-item";
                PrevClasses = "page-item";
            } 
        }

    }

    private void selectChange(ChangeEventArgs args)
    {
        int itemPerPage = int.Parse(args.Value.ToString());
        PageNumber = 1;
        CalculateQuantity(itemPerPage, PageNumber, null);
    }

    private void prevEvent(MouseEventArgs args)
    {
        if (PageNumber > 1)
        {
            PageNumber--;
            CalculateQuantity(ItemPerPage, PageNumber, null);
            PrevClasses = "page-item";
        }
        else
        {
            PrevClasses = "page-item disabled";
        }
    }

    private void nextEvent(MouseEventArgs args)
    {
        if (PageNumber < PageCount)
        {
            PageNumber++;
            CalculateQuantity(ItemPerPage, PageNumber, null);
            PrevClasses = "page-item";
        }
        else
        {
            NextClasses = "page-item disabled";
        }
    }

    private async Task WriteOffHardware(MouseEventArgs args)
    {
        try
        {
            await SetUserIdToLocalStorageAsync();
            string userId = await localStorage.GetItemAsync<string>("userId");
            if (userId != string.Empty)
                writeOffDTO.ResponsibleId = Guid.Parse(userId);
            writeOffDTO.HardwareIdList = HardwaresId;
            var result = await HardwareService.WriteOff(writeOffDTO);
            navigationManager.Refresh(true);
        }
        catch(Exception ex){}
    }

    private void showHistoryEvent(MouseEventArgs args)
    {
        if (ShowAllHistoryButton == false)
        {
            ShowAllHistoryTextButton = $"Скрыть ({HideHistoryList.Count}) ↑";
            ShowAllHistoryButton = true;
        }
        else
        {
            ShowAllHistoryTextButton = $"Показать всю историю ({HideHistoryList.Count}) ↓";
            ShowAllHistoryButton = false;
        }
    }

    private void closeModalView(MouseEventArgs args)
    {
        HardwaresId.Clear();
        ViewModalShow = false;
    }

    private async Task selectedCategoryEvent(ChangeEventArgs args)
    {
        var searchString = args.Value.ToString();
        var isGuid = Guid.TryParse(searchString, out Guid categoryGuid);
        if (isGuid)
        {
            CategoryHardware = await CategoryHardwareService.GetByIdAsync(categoryGuid);
            FilteredHardwares = MainWarehouse.Hardwares.Where(d => d.CategoryHardwareId == categoryGuid).ToList();
            CalculateQuantity(ItemPerPage, 1, FilteredHardwares);
        }
        else
        {
            FilteredHardwares = MainWarehouse.Hardwares;
            CategoryHardware = new();
            CalculateQuantity(ItemPerPage, 1, FilteredHardwares);
        }
    }
    private async Task ExportHardwareEvent(MouseEventArgs args)
    {
        try
        {
            var excelBytes = await HardwareService.Export();
            DateTime now = DateTime.Now;
            string dateString = now.ToString("dd.MM.yyyy");
            await js.InvokeVoidAsync("downloadFileFromBytes", $"Оборудование ({dateString}).xlsx", excelBytes);
        }
        catch(Exception ex){}
    }
    private async Task SelectedUserWarehouseEvent(ChangeEventArgs args)
    {
        try
        {
            updateDTO = new();
            if (Hardware.UserId.HasValue)
            {
                await SetUserIdToLocalStorageAsync();
                string userId = await localStorage.GetItemAsync<string>("userId");
                if (userId != string.Empty)
                    updateDTO.ResponsibleId = Guid.Parse(userId);
                updateDTO.HardwareId = Hardware.Id;
                updateDTO.UserId = Hardware.UserId.Value;
                updateDTO.UserWarehouseId = Guid.Parse(args.Value.ToString());
                await HardwareService.UpdateAsync(updateDTO);
                await ViewHardware(Hardware.Id);
            }
        }
        catch(Exception ex){}
    
    }
}
